<div class="jumbotron">
    <h1>XgMovie</h1>
    <p class="lead">Simple ASP.Net Movie Site</p>
</div>
<div>
    <table class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th>Action</th>
                <th>End Point</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GET</td>
                <td>/movies</td>
                <td>Return list of all movies</td>
            </tr>
            <tr>
                <td>GET</td>
                <td>/movies/id</td>
                <td>Return details of movies with matching id</td>
            </tr>
            <tr>
                <td>POST</td>
                <td>/movies</td>
                <td>Submit and new movie to site</td>
            </tr>
        </tbody>
    </table>
</div>
